
/*Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar a, .navbar a:visited{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  background-color: #333;
}

/* Right-align link */
.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #F4976C;
  padding: 20px;
  padding-top: 10vh;
}

.main {
  flex: 70%;
  background-color: inherit;
  color: black;
  padding-top: 35vh;
}

@media screen and (max-width: 600px) {
  .side {
    width: 100%;
  }

  .main {
    width: 100%;
  }
}

/* Home section */
.home-css {
  text-align: center;
  background: #FBE8A6;
  color: #000000;
}

/* About me section */
.about-css {
  padding: 100px;
  text-align: center;
  background: #B4DFE5;
  color: #000000;
}

/* Skills section */
.skills-css {
  padding: 100px;
  text-align: center;
  background: #D2FDFF;
  color: #000000;
}

/* Interests section */
.interests-css {
  padding: 100px;
  text-align: center;
  background: #B4DFE5;
  color: #000000;
}

/* Contacts section */
.contact-css {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: #333;
  color: white;
}

.contact-css a:link, .contact-css a:visited{
  background-color: inherit;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Button */
.btn {
  border: none;
  background-color: inherit;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

.column {
  padding: 10px;
}

.c-left, .c-right {
  background-color: white;
  width: 12.5%
}

.middle {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* smaller box */
.subbox {
  background: #F4976C;
  width: 30%;
  padding: 10px;
}

/* collapsible tab */

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* progress bar */

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
}

/* Misc. */
div {
  width: $(window).height();
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

/* Splite Website */
* {
  box-sizing: border-box;
}

img {
  border-radius: 50%;
}
